
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@model E_Learning_Platform.Models.course

<div class="container mt-4">
    <div class="card">
        <img src="@Model.image" class="card-img-top" style="height:300px; object-fit:cover;" />

        <div class="card-body">
            <h2 class="text-primary">@Model.title</h2>
            <p>@Model.description</p>

            <p><strong>Duration:</strong> @Model.duretion</p>
            <p><strong>Fee:</strong> ₹@Model.course_fee</p>

            <a href="#" class="btn btn-primary">Enroll Now</a>
            <a href="/Course/Index" class="btn btn-secondary">Back</a>
        </div>
    </div>
</div>
